# Local .terraform directories
**/.terraform/*
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Exclude SSH keys
id_rsa
id_rsa.pub

# Exlude Secret variables
**/secrets.tfvars

# Exlude QEMU images
*.qcow2

# Exlude Ansible inventory file
**/.ansible/*
inventory

# More file to exlude
.DS_Store


test
